body {
    font-family: Helvetica, sans-serif;
    background: #2d4059;
    display: flex;
    flex-direction: column;
    margin: 0;

}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    box-shadow: 3px 4px 5px rgb(0 0 0 / 50%);
    background-color: rgb(132, 177, 235);
}

.title {
    color: aliceblue;
    font-size: 40px;
}

#newBtn-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#newbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    border: solid 3px black;
}
